<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Record</title>
    <link rel="stylesheet" href="/static/css/user-record.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav">
        <header>
            <a href="/admin/upload">Upload</a>
            <a href="/admin/flags">Flags</a>
            <a class="user" href="/admin/users">Users</a>
            <a href="/admin/regseries">Reg-Series</a>
        </header>
        <div class="mid">
            <img src="/static/icon.jpg" alt="">
            <p>StrangeFlix</p>
        </div>

        <div class="topnav">
            <a href="#home" class="active"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="/admin/control">Home</a>
                <a href="/admin/setting">Setting</a>
                <a href="https://dashboard.paystack.com/#/transactions?status=success&use_cursor=true">Transactions</a>
                <a href="/home">User-Panel</a>
                <a href="/admin/logout">Logout</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <% if (message != "") { %>
		<div class="alert-success">
			<%= message %>
		</div>
	<% } %>

	<% if (error != "") { %>
		<div class="alert-danger">
		   <%= error %>
		</div>
	<% } %>
    <div class="main">
        <div class="sider">
            <button onclick="free()">No Subscription</button>
            <button onclick="ppv()">Pay-per-view</button>
            <button onclick="premium()">Premium</button>
        </div>
        <div class="middle">
            <p class="count">Total Users: <%= (premium.length + free.length + ppv.length)%></p>
            <p class="fa fa-users" id="icon"></p>
            <div id="free">
                <p class="count">Total Users without Subscription: <%= free.length%></p>
                <% for(var i=0;i<free.length;i++) {%>
                <div id="free-user">
                    <p>USER NAME:<%= free[i].fName %> <%= free[i].lName %></p>
                    <hr>
                    <p>USER ID:<%= free[i].email %></p>
                    <hr>
                    <p>Blocked Status:<%= free[i].blocked %></p>
                    <div class="btns-com">
                        <% if (free[i].blocked == false) { %>
                        <form action="/admin/users/block/<%= free[i]._id %>" method="GET">
                            <button type="submit">Block</button>
                        </form>
                        <% } %>
                        <% if (free[i].blocked == true) { %>
                        <form action="/admin/users/unblock/<%= free[i]._id %>" method="GET">
                            <button type="submit">Unblock</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
            <div id="ppv">
                <p class="count">Total Users with pay per view videos: <%= ppv.length%></p>
                <% for(var i=0;i<ppv.length;i++) {%>
                <div id="ppv-user">
                    <p>USER NAME:<%= ppv[i].fName %> <%= ppv[i].lName %></p>
                    <hr>
                    <p>USER ID:<%= ppv[i].email %></p>
                    <hr>
                    <p>Subscription:Pay per view</p>
                    <hr>
                    <p>Blocked Status:<%= ppv[i].blocked %></p>
                    <div class="btns-com">
                        <% if (ppv[i].blocked == false) { %>
                        <form action="/admin/users/block/<%= ppv[i]._id %>" method="GET">
                            <button type="submit">Block</button>
                        </form>
                        <% } %>
                        <% if (ppv[i].blocked == true) { %>
                        <form action="/admin/users/unblock/<%= ppv[i]._id %>" method="GET">
                            <button type="submit">Unblock</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
            <div id="premium">
                <p class="count">Total Users with premium pack: <%= premium.length%></p>
                <% for(var i=0;i<premium.length;i++) {%>
                <div id="premium-user">
                    <p>USER NAME:<%= premium[i].fName %> <%= premium[i].lName %></p>
                    <hr>
                    <p>USER ID:<%= premium[i].email %></p>
                    <hr>
                    <% if (premium[i].subscriptionCode == 2) { %>
                    <p>Subscription: Monthly Premium</p>
                    <% } %>
                    <% if (premium[i].subscriptionCode == 3) { %>
                    <p>Subscription: Yearly Premium</p>
                    <% } %>
                    <hr>
                    <p>Blocked Status:<%= premium[i].blocked %></p>
                    <div class="btns-com">
                        <% if (premium[i].blocked == false) { %>
                        <form action="/admin/users/block/<%= premium[i]._id %>" method="GET">
                            <button type="submit">Block</button>
                        </form>
                        <% } %>
                        <% if (premium[i].blocked == true) { %>
                        <form action="/admin/users/unblock/<%= premium[i]._id %>" method="GET">
                            <button type="submit">Unblock</button>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/static/fe_js/user-record.js"></script>
</body>

</html>