<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User-Record</title>
    <link rel="stylesheet" href="/static/css/flags-record.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="nav">
        <header>
            <a href="/admin/upload">Upload</a>
            <a class="flag" href="/admin/flags">Flags</a>
            <a href="/admin/users">Users</a>
            <a  href="/admin/regseries">Reg-Series</a>
        </header>
        <div class="mid">
            <img src="/static/icon.jpg" alt="">
            <p>StrangeFlix</p>
        </div>

        <div class="topnav">
            <a href="#home" class="active"></a>
            <!-- Navigation links (hidden by default) -->
            <div id="myLinks">
                <a href="/admin/control">Home</a>
                <a href="/admin/setting">Setting</a>
                <a href="https://dashboard.paystack.com/#/transactions?status=success&use_cursor=true">Transactions</a>
                <a href="/home">User-Panel</a>
                <a href="/admin/logout">Logout</a>
            </div>
            <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <% if (message != "") { %>
		<div class="alert-success">
			<%= message %>
		</div>
	<% } %>

	<% if (error != "") { %>
		<div class="alert-danger">
		   <%= error %>
		</div>
	<% } %>
    <div class="main">
        <div class="sider">
            <button onclick="video()">Flagged Videos</button>
            <button onclick="comment()">Flagged Comments</button>
        </div>
        <div class="middle">
            <div id="video">
                <% for(var i=0; i < videoarray.length; i++) { %>
                <div id="vid">
                    <img id="thumbnail" src="/<%= videoarray[i].flagid.thumbnail %>" alt="" onclick="play()">
                    <div class="detail">
                        <p>Name:<%= videoarray[i].flagid.title %></p>
                        <p>Duration: <%=videoarray[i].flagid.duration.hours %>:<%=videoarray[i].flagid.duration.minutes %>:<%=videoarray[i].flagid.duration.seconds %></p>
                        <p>Price:<%=videoarray[i].flagid.price %></p>
                        <p>Tags:<%=videoarray[i].flagid.tags %></p>
                        <p>Category:<%=videoarray[i].flagid.category %></p>
                    </div>
                    <div class="btns">
                        <form action="/admin/flags/deflag/video/<%= videoarray[i]._id %>" method="GET">
                            <button type="submit">Remove Flag</button>
                        </form>
                        <form action="/admin/remove/video/<%= videoarray[i].flagid._id %>" method="GET">
                            <button type="submit">Remove Video</button>
                        </form>
                    </div>
                </div>
                <% } %>
            </div>
            
            <div id="comment">
                <% for( var i=0; i < commentarray.length; i++) { %>
                    <div id="list">
                        <div class="fa fa-user-circle" id="com">User Name: <%= commentarray[i].flagid._userId.fName %> <%= commentarray[i].flagid._userId.lName %></div>
                        <p><%= commentarray[i].flagid.content %></p>
                        <div class="btns-com">
                            <form action="/admin/flags/deflag/comment/<%= commentarray[i]._id %>" method="GET">
                                <button type="submit">Remove Flag</button>
                            </form>
                            <form action="/admin/flags/remove/comment/<%= commentarray[i]._id %>" method="GET">
                                <button type="submit">Remove Comment</button>
                            </form>
                            <form action="/admin/flags/blockUser/<%= commentarray[i].flagid._userId._id %>" method="GET">
                                <button type="submit">Block User</button>
                            </form>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <script src="/static/fe_js/flags-record.js"></script>
</body>

</html>