<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StrangeFlix-Streaming</title>
	<link rel="stylesheet" href="../static/css/streaming.css">
	<link rel="stylesheet" href="../static/bootstrap/bootstrap.css">
	<link rel="stylesheet" href="../static/bootstrap/mdb.css">
	<link rel="stylesheet" href="../static/css/vid-player.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
	<div class="sficon">
		<a class="back" href="/home"><i class="fa fa-chevron-circle-left"></i></a>
		<form action="/search" method="post" class="form-search">
			<i class="fa fa-search" aria-hidden="true"></i>
			<input class="search" name="search" type="text" placeholder="Search" aria-label="Search">
		</form>
		<div class="dropdown" id="user">
			<button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"><i class="fa fa-user"></i>
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a class="dropdown-item" href="/setting">Profile</a>
				<a class="dropdown-item" href="/setting">Settings</a>
				<hr>
				<a class="dropdown-item" href="/logout"><i class="fa fa-sign-out"></i></a>
			</div>
		</div>
	</div>
	<% if (message != "") { %>
	<div class="alert alert-success" role="alert">
		<%= message %>
	</div>
	<% } %>
	<% if (error != "") { %>
	<div class="alert alert-danger" role="alert">
		<%= error %>
	</div>
	<% } %>
	<div class="mid">
		<div class="player">
			<video class="player__video viewer" src="/<%= playedvideo.filepath %>"
				poster="/<%= playedvideo.thumbnail %>"></video>

			<div class="player__controls">
				<div class="progress">
					<div class="progress__filled"></div>
				</div>
				<button class="player__button">
					<p class="fa fa-step-backward">
				</button>
				<button class="player__button toggle" id="play-btn" title="Toggle Play">►</button>
				<button class="player__button">
					<p class="fa fa-step-forward">
				</button>
				<span class="vol">vol</span>
				<input type="range" name="volume" class="player__slider" min="0" max="1" step="0.05" value="1">
				<span class="speed">speed</span>
				<input type="range" name="playbackRate" class="player__slider" min="0.5" max="2" step="0.1" value="1">
				<span class="current">00:00</span> / <span class="duration">00:00</span>
				<button data-skip="-10" class="player__button">
					<p class="fa fa-fast-backward">
				</button>
				<button data-skip="10" class="player__button">
					<p class="fa fa-fast-forward"></p>
				</button>
				<button class="fullscreen-btn">
					<p class="fa fa-expand"></p>
				</button>
			</div>
		</div>
		<div class="like">
			<p><%= playedvideo.title %></p>
			<div class="likebar">
				<div class="descp">
					<p><b>Category: </b> <%=playedvideo.category %></p>
					<p><b>Description: </b><%= playedvideo.description %></p>
					<p><b>Tags: </b><%= playedvideo.tags %></p>
				</div>
				<div class="cat">
					<form action="/likes/like/<%= playedvideo._id %>" method="GET" class="like-btn">
						<button type="submit"><i class="fa fa-thumbs-o-up"><%= playedvideo.likes %></i></button>
					</form>

					<form action="/likes/dislike/<%= playedvideo._id %>" method="GET" class="like-btn">
						<button type="submit"><i class="fa fa-thumbs-o-down"><%= playedvideo.dislikes %></i></button>
					</form>
				</div>

			</div>
		</div>
	</div>
	<div class="operation">
		<button class="btn  dropdown-toggle" onclick="comments()" id="btn-comment" type="button" aria-haspopup="true"
			aria-expanded="false">Comments
		</button>
		<form action="/watch/report/<%= playedvideo._id %>" method="GET">
			<button type="submit" class="rep"><i class="fa fa-flag"></i> Report</button>
		</form>
	</div>

	<div id="comment-section">
		<form action="/comment/add" method="post" class="comment-box">
			<input type="text" name="vidID" value="<%= playedvideo._id %>" hidden>
			<textarea name="content" cols="70" rows="2" placeholder="Add a public comment" required></textarea>
			<button type="submit" value="comment">Comment</button>
		</form>
		<hr>
		<% for(var i=0; i < selfComments.length; i++) { %>
		<p class="usertitle"><%= selfComments[i]._userId.fName %> <%= selfComments[i]._userId.lName %></p>
		<div class="userBtn">
			<form action="/comment/update" method="post" class="commentedit">
				<input type="text" name="commentID" value="<%= selfComments[i]._id %>" hidden>
				<input type="text" name="vidID" value="<%= playedvideo._id %>" hidden>
				<textarea name="content" id="" cols="70" rows="3"><%= selfComments[i].content %></textarea>
				<input class="cmt" type="submit" value="Update">
			</form>

			<form action="/comment/remove" method="post">
				<input type="text" name="commentID" value="<%= selfComments[i]._id %>" hidden>
				<input type="text" name="vidID" value="<%= playedvideo._id %>" hidden>
				<input class="cmt" type="submit" value="Remove">
			</form>
		</div>
		<hr>
		<% } %>
		<% for(var i=0; i < otherComments.length; i++) { %>
		<p class="usertitle"><%= otherComments[i]._userId.fName %> <%= otherComments[i]._userId.lName %></p>
		<p><%= otherComments[i].content %></p>
		<form action="/comment/report" method="post">
			<input type="text" name="vidID" value="<%= playedvideo._id %>" hidden>
			<input type="text" name="commentID" value="<%= otherComments[i]._id %>" hidden>
			<button type="submit" class="cmt"><i class="fa fa-flag"></i> Report</button>
		</form>
		<hr>
		<% } %>
	</div>
	<hr>
	<div class="recom">
		<p>Recommendations</p>
		<div class="content">
			<div class="imgs">
				<% for(var i=0; i < recom.length; i++) { %>
				<div class="box">
					<img src="/<%= recom[i].thumbnail %>" alt="">
					<div class="text">
						<p>Title: <%= recom[i].title %></p>
						<p>Category: <%= recom[i].category %></p>
						<p>Price:&#8377; <%= recom[i].price %></p>
						<form action="/watch/<%= recom[i]._id %>" method="GET">
							<button type="submit" class="fa fa-play-circle-o"></button>
						</form>
						<form action="/cart/add/video/<%= recom[i]._id %>" method="GET">
							<input class="add" type="submit" value="Add to Cart">
						</form>
					</div>
				</div>
				<% } %>
			</div>
		</div>
	</div>

	<script src="../static/fe_js/vid-player.js"></script>

	<script src="../static/fe_js/streaming.js"></script>
	<%- include ("footer") %>